// google fonts
@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@400;700;800&family=Lato:wght@300;400;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');


// reset styles
*{
    color: inherit;
    margin: 0 ;
}


body{
    font-family: "Poppins";
}


ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr{
    border: 0;
    border-top: 1px dotted #efefef;
}


img{
    max-width: 100%;
}

