
@use "sass:math";

@mixin btn($bg-color: #e2e2e2) {
    margin-top: $base-margin;
    border-radius: $base-border-radius;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: math.div($base-padding, 2.8) $base-padding * 2.9;
    background-color: $bg-color;
}

.btn{
    @include btn;
}

@each $key, $val in $colors{
    .btn-#{$key}{
        @include btn($val);
        &:hover{
            background-color: lighten($val, 5);
        }
    }
    .btn-outlined-#{key}{
        @include btn(#fff);
        background-color: #fff;
        color: $val;
        border: $base-border-thickness solid $val;
        &:hover{
            background-color: $val;
        }
    }

    .btn-complement-#{key}{
        @include btn(#fff);
        background-color: #fff;
        color: light-comp($val);
        border: $base-border-thickness solid $val;
        &:hover{
            background-color: $val;
        }
    }

}